.footer {
  background-color: $COLOR_FOOTER;
  padding: 1.5rem 0 6rem;
  @include upTo(sm) {
    padding: 3rem 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include upTo(sm) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__logo {
    @extend .header__logo;
    margin-bottom: 1rem;

    @include upTo(sm) {
      position: relative;
      flex-direction: row;
      margin-bottom: 0;
      top:3px;
    }
  }

  p {
    @include fontSize(17px);
    color: #ffffff;
    text-align: center;

    @include upTo(sm) {
      text-align: right;
    }
  }
}