$ROOT : 12px;

$FONT_FAMILY : 'Roboto', sans-serif;

// FONT-WEIGHT
$BLACK: 900;
$BOLD : 700;
$MEDIUM : 500;
$REGULAR : 400;
$LIGHT : 300;

$HEIGHT_MENU_MOBILE : 79px;

// GRID sizes
$grid-breakpoints : ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1170px );
$SMALL_CONTAINER : 950px;

// COLORS
$COLOR_BG_BODY : white;
$COLOR_LABELS : #999999;
$COLOR_BLACK : #1d293f;
$COLOR_GREY : #878686;
$COLOR_LIGHTGREY : #F3F3F3;
$COLOR_LIGHTGREY2 : #F5F5F5;
$COLOR_DARKGREY : #575757;
$COLOR_DARKGREY2 : #464646;
$COLOR_DARKGREY3 : #313131;
$COLOR_BLUE : #203B83;
$COLOR_LIGHTBLUE : #2C4689;
$COLOR_CELESTE : #00B6DE;
$COLOR_VERDE : #50e3c2; 
$COLOR_AMARILLO : #f7b500;
$COLOR_ROJO : #e02020;
$COLOR_MAGENTA: #FF3CAC;
$COLOR_FOOTER : #212529;

// SPACES
$PADDING_MOBILE: 1.667rem;
$PADDING_SM: 1.25rem;

// ANIMATIONS
$ANIMATION_EASING: cubic-bezier(0.22, 0.61, 0.36, 1);
$ANIMATION_TIMING: 250ms;
$ANIMATION_DELAY: 150ms;
$TRANSITION : all $ANIMATION_TIMING $ANIMATION_EASING;

// HEADER
$HEADER_MAX_HEIGHT : 70px;

// BOOTSTRAP CUSTOMS 
$primary: $COLOR_CELESTE !default;
$secondary: $COLOR_CELESTE !default;

// MODAL
$modal-inner-padding:               0 !default;
$modal-header-padding-y:            0 !default;
$modal-header-padding-x:            0 !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default;